[tomcat]
home=/opt/tomcat
configured=false
dns_domain=.avium.test
pwlength=16
runtime_env=Development
manager=manager
rpauser=rpa-tomcat
jmxuser=jmx-tomcat
managerpass=manager.pass
rpapass=rpauser.pass
jmxpass=jmxuser.pass


[keystore]
org=Avium Labs
locality=Washington
country=US
keystore=tomcat.jks
keystore_pass=keystore.pass
validity=180
